@import url("assets/fonts/fonts.css");

@mixin on-hover {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(131, 131, 131, 0);
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgb(167, 167, 167);
    border-radius: 3px;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

:root {
    --body-bg: #212224;
    --body-fg: #fff;

    font-size: max(0.83svw, 10px);

    --side-padding: 8rem;
    --section-padding: 4rem;
}

.section-header {
    font-family: 'neuemachina-ultrabold';
    font-size: 5rem;
    z-index: 1;
}

.section {
    padding: var(--section-padding) var(--side-padding);
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.button {
    border-radius: 999px;
    padding: 1rem 0;
    border: 2px solid white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: white;

    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

    @include on-hover {
        background-color: #fff;
        color: #000;
    }
}

.trailer {
    height: 1rem;
    width: 1rem;

    background-color: #fff;
    border-radius: 50%;

    position: fixed;

    opacity: 0;
    transition: opacity 0.5s ease,
        scale 0.2s ease-out;

    --x: 0px;
    --y: 0px;

    left: var(--x);
    top: var(--y);

    z-index: 99999;

    pointer-events: none;
    --scale: 1.0;
    scale: var(--scale) // filter: drop-shadow(rgba(0, 0, 0, 0.295) 0px 0.2rem 10px);
}

.floating-nav {
    position: fixed;
    z-index: 2;

    .trigger {
        position: fixed;
        z-index: 3;
        background: none;
        outline: none;
        border: none;

        margin: 2rem;

        width: 4rem;
        height: 4rem;

        bottom: 0;

        background-color: white;
        border-radius: 50%;

        font-family: 'neuemachina-regular';
        font-size: 2rem;

        transition: background-color 0.25s;

        // @include on-hover + .sidebar {
        //     transform: translateX(0%);
        // }

        @include on-hover {
            background-color: #000;

            .xmark,
            .bars {
                filter: opacity(0.8);
            }
        }

        .xmark,
        .bars {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            height: 2rem;
            margin: auto;

            filter: opacity(0.8) invert(1.0);
            transition: filter 0.25s;
        }

        &.open>.xmark {
            display: block;
        }

        &:not(.open)>.bars {
            display: block;
        }
    }

    .sidebar {
        position: fixed;
        transform: translateX(-100%);
        border-right: 1px solid #777;

        height: 100vh;

        top: 0;
        padding: var(--section-padding) var(--side-padding);
        background-color: #212224f6;
        backdrop-filter: blur(4px);

        ul {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: var(--section-padding) 0;

            li {
                list-style-type: none;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }
        }

        .nav-link {
            font-size: 3rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 5px;
                background-color: currentColor;

                transition: width 0.25s ease-out;
            }

            @include on-hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }
}

body {
    margin: 0;
    font-family: 'neuemachina-light', 'monospace';
    font-weight: 200;
    background-color: var(--body-bg);
    color: var(--body-fg);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-smoothing: antialiased;

    @include on-hover {
        .trailer {
            opacity: 1;
        }
    }
}

footer {
    display: grid;

    position: sticky;
    bottom: 0;
    left: 0;

    padding: 0 var(--side-padding);

    .lists {
        padding: 3rem 0;
        display: flex;
        justify-content: space-between;
    }

    .link-list {
        display: inline;

        h1 {
            margin-top: 0;
        }

        ul {
            padding: 0;

            li {
                list-style: none;
                margin-bottom: 0.25rem;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 1.5rem;

                    @include on-hover {
                        color: #ffe8a9;
                        text-decoration: underline
                    }
                }
            }
        }
    }

    .climb-up-btn {
        @extend .button;
        height: fit-content;

        align-self: center;

        padding-left: 2rem;
        padding-right: 2rem;

        display: flex;
        gap: 1rem;

        @include on-hover {
            .arrow {
                rotate: -90deg;
                filter: invert(1.0);
            }
        }

        .arrow {
            height: 2rem;
            position: relative;
            rotate: -45deg;
            transition: rotate 0.2s ease-in-out, filter 0.2s ease-in-out;
        }
    }

    .content {
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;
        width: 100%;

        p {
            margin: 0;
            font-size: 1.25rem;
        }

        .barcode {
            font-family: 'barcode';
            font-size: 2.5rem;
        }
    }
}

.bars {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100svh;
    pointer-events: none;

    display: flex;
    z-index: 20;

    .bar {
        background-color: #000;
        height: 100%;
    }
}

main {
    background-color: var(--body-bg);
    position: relative;
    z-index: 1;

    .footer-divider {
        content: '';
        margin-top: 2rem;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }

    .hero {
        min-height: 100svh;
        position: relative;
        display: grid;
        place-items: center;

        .name {
            text-align: center;

            h1 {
                font-family: 'against', 'serif';
                font-size: 6rem;
                margin: 0;
            }

            p {
                margin: 0;
                color: #777;
                font-size: 2rem;
                font-family: "neuemachina-regular";
            }
        }

        .circles {
            position: absolute;
            pointer-events: none;
            // margin: auto;
            width: 50vw;
            place-self: center;
            opacity: 0.3;
        }

        .scroll-indicator {
            position: absolute;
            bottom: 2rem;
        }

        .scroll-indicator.left {
            left: calc(var(--side-padding) / 2);
        }

        .scroll-indicator.right {
            right: calc(var(--side-padding) / 2);
        }

        .navbar {
            position: absolute;
            text-align: right;

            right: var(--side-padding);
            top: var(--section-padding);

            ul {
                margin: 0;

                li {
                    margin: 0;
                    list-style: none;
                }
            }

            .nav-link {
                color: #fff6;
                text-decoration: none;
                font-size: 1.5rem;
                position: relative;
                padding: 0 0.25rem;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0%;
                    height: 100%;
                    background-color: #3d3c3b;
                    z-index: -1;
                    transition: width 0.25s ease-in-out;
                }

                @include on-hover {
                    &::before {
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }
    }

    .education {
        overflow: hidden;

        h1 {
            font-size: 3rem;
        }

        .main-container {
            display: flex;
            align-items: stretch;
            gap: 5rem;
        }

        // .img-container {
        //     flex: 1;

        //     .hover-img {
        //         --image: none;

        //         width: 100%;
        //         height: 100%;
        //         background-repeat: no-repeat;
        //         background-position: 0%;
        //         background-size: cover;
        //         background-image: var(--image);
        //     }
        // }

        .container {
            --line-offset: calc(1rem * 0.75);
            --left-margin: 3rem;

            margin-left: 1rem;

            width: fit-content;

            position: relative;
            display: grid;
            gap: 2.5rem;

            .line {
                position: absolute;
                --height: 100%;
                height: calc(var(--height) - var(--line-offset));
                width: 4px;
                top: var(--line-offset);
                left: -2px; // Half of width
                background-color: #fff;
                border-radius: 50px;
            }

            .listing {
                margin-left: var(--left-margin);
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    width: 2rem;
                    height: 2rem;

                    background-color: #fff;
                    border-radius: 50%;

                    top: var(--line-offset);
                    left: calc(-1 * var(--left-margin));

                    transform: translateX(-50%);
                }

                .qualification {
                    font-family: 'neuemachina-regular';
                    font-size: 2.5rem;
                    margin: 0;
                }

                .institution {
                    font-size: 2rem;
                    opacity: 0.5;
                    margin: 0;
                }

                .year {
                    font-size: 2rem;
                    opacity: 0.5;
                    margin: 0;
                }
            }
        }
    }

    .about-me {
        >.container {
            display: grid;
            grid-template-columns: 1.75fr 1fr;
            gap: 4rem;

            .text {
                p {
                    font-size: 2.5rem;
                    margin-top: 0;
                    margin-bottom: 5.5rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .portrait-container {
                perspective: 1000px;
                perspective-origin: 50% 50%;

                .portrait {
                    --rotate-x: 0deg;
                    --rotate-y: 0deg;
                    width: 100%;
                    position: sticky;
                    top: 4rem;
                    border: 4px solid white;
                    transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
                    transition: transform 0.25s cubic-bezier(0.25, 1, 0.5, 1);

                    filter: drop-shadow(#19181880 0 1rem 16px);
                }
            }
        }
    }

    .experience {
        .manifesto {
            >p {
                position: relative;
                font-family: 'neuemachina-regular';
                font-size: 5.5rem;
                margin: 0;
                overflow: hidden;

                .overlay {
                    position: absolute;
                    pointer-events: none;
                    width: 100%;
                    height: 100%;
                    background-color: var(--body-bg);
                    opacity: 70%;
                    left: 0;
                    top: 0;
                }
            }

            >p:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 2rem;

            margin-bottom: 10rem;

            .card {
                display: flex;
                gap: 1rem;
                flex-direction: column;
                align-items: flex-start;

                padding: 4rem;
                border: 2px solid #fff;
                border-radius: 25px;
                transition: color 0.25s, background-color 0.25s;

                @include on-hover {
                    color: #000;
                    background-color: #fff;

                    img {
                        filter: invert(0.0);
                    }
                }

                img {
                    transition: filter 0.25s;

                    height: 8rem;
                    filter: invert(1.0);
                    margin-bottom: 2rem;
                }

                h1 {
                    margin: 0;
                    font-size: 3rem;
                }

                p {
                    margin-top: auto;
                    font-size: 1.5rem;
                    margin-bottom: 0;
                }
            }
        }
    }

    .projects {
        .container {
            .listing {
                text-decoration: 0;
                color: #fff;
                display: flex;
                align-items: center;
                padding: 2rem 0;
                position: relative;

                @include on-hover {
                    h2>.word>.letter {
                        transform: translateY(-100%);
                    }

                    .bg-img {
                        opacity: 0.25;
                    }

                    // h2 > .word:first-child > .letter {
                    //     opacity: 0;
                    // }
                }

                .bg-img {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    background-size: cover;

                    opacity: 0.0;

                    transition: opacity 0.25s;
                }


                h2 {
                    font-family: 'neuemachina-ultrabold';
                    font-size: 2.5rem;
                    margin: 0;
                    height: 3.5rem;
                    overflow: hidden;

                    .letter {
                        transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1),
                            opacity 0.25s ease-in;
                        transition-delay: var(--delay);
                        display: inline-block;
                    }

                    .word:last-child {
                        color: #ffe8a9;
                    }
                }

                p {
                    font-size: 2rem;
                    margin: 0;
                    margin-left: auto;
                }
            }

            .divider {
                width: 100%;
                height: 2px;
                background-color: white;
            }
        }
    }

    .made-with {
        h1 {
            font-family: 'neuemachina-ultrabold';
            font-size: 8rem;
            text-align: center;

            span {
                position: relative;

                a {
                    color: inherit;
                    text-decoration: none;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;

                        height: 15px;
                        width: 0%;

                        background-color: currentColor;

                        transition: width 0.25s ease-in-out;
                    }

                    @include on-hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }

            .love {
                color: #FF4040;
            }

            .gsap {
                color: #92FF80;
            }

            .lenis {
                color: #FFA9A9;
            }

            .animate {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
            }

            .love>.animate {
                content: url("assets/images/heart.svg");
                left: 75%;
                top: -10%;
            }

            .gsap>.animate {
                content: url("assets/images/asterisk.svg");
                left: -25%;
                top: -25%;
            }

            .lenis>.animate {
                content: url("assets/images/mouse.svg");
                left: 90%;
                top: 10%;
            }
        }
    }

    .contacts {
        a {
            font-size: 1.5rem;
            color: #fffb;
            text-decoration: none;

            @include on-hover {
                color: #ffe8a9;
                text-decoration: underline;
            }
        }

        h1 {
            font-size: 5rem;
        }

        .message {
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            gap: 5rem;
            margin-bottom: 3rem;

            form {
                grid-column: span 7 / span 7;

                div {
                    margin-bottom: 2rem;
                }
            }

            .container {
                grid-column: span 3 / span 3;
                grid-column-start: 9;

                div {
                    margin-bottom: 3rem;
                }

                h2 {
                    margin-bottom: 0.25rem;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style-type: none;
                    }
                }
            }

            label {
                display: block;
                font-size: 2rem;
                margin-bottom: 0.5rem;
                font-family: 'neuemachina-regular';
            }

            .error-msg {
                color: #FF4040;
                font-size: 1.5rem;
                display: none;
            }

            .error-msg[data-visible=true] {
                display: block;
            }

            input,
            textarea {
                outline: none;
                border: none;
                padding: 1rem;
                font-family: 'neuemachina-light';
                font-size: 1.5rem;
            }

            input[type=text],
            input[type=email],
            textarea {
                border-radius: 10px;
                border: 1px solid darkgray;
                width: 100%;
                background-color: #303133;
                color: white;
            }

            input[data-invalid=true],
            textarea[data-invalid=true] {
                border-color: #FF4040;
            }

            input[type=button] {
                @extend .button;

                cursor: pointer;
                background-color: transparent;
                padding: 1rem 2rem;
            }

            textarea {
                resize: none;
            }
        }

        .btn-container {
            margin-top: 3.5rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 3rem;

            a {
                @extend .button;
            }
        }
    }
}

@media (hover: none) {
    .trailer {
        display: none;
    }
}

@media (max-width: 960px) {
    .cards {
        grid-template-columns: 1fr !important;
        gap: 5rem!important;

        .card {
            border: none!important;
            padding: 0!important;
            text-align: center;
            align-items: center!important;
        }

        img {
            height: 5rem !important;
        }
    }
}

@media (max-width: 720px) {
    .hero {
        .navbar .nav-link {
            font-size: 2rem !important;
        }

        .name h1 {
            font-size: 4rem !important;
        }
    }

    .about-me .container {
        display: flex !important;
        flex-direction: column-reverse;
        justify-content: center;

        .portrait-container {
            height: 40svh;
            width: 100%;

            img {
                object-fit: cover;
                height: 100%;
                position: static;
            }
        }
    }

    .contacts .message {
        display: flex !important;
        flex-direction: column;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div:nth-child(2) {
            }
        }
    }

    footer {
        .lists {
            flex-wrap: wrap;
            gap: 2rem;

            .climb-up-btn {
                margin: auto;
            }
        }
    }

    :root {
        --side-padding: 4rem;
    }

    .experience {
        .manifesto {
            >p {
                font-size: 4rem !important;
            }
        }
    }
}

@media (max-width: 540px) {
    :root {
        --section-padding: 3rem!important;
    }

    .hero .name h1 {
        font-size: 3rem !important;
    }

    .section-header {
        font-size: 3rem!important;
    }

    main .education .container .listing { 
        .qualification {
            font-size: 2rem!important;
        }

        p {
            font-size: 1.75rem!important;
        }
    }

    footer {
        .content {
            p {
                margin: auto;
            }
        }

        h1 {
            font-size: 1.5rem;
        }

        a {
            font-size: 1.2rem!important;
        }

        .barcode {
            display: none;
        }

        .lists {
            justify-content: center;
        }
    }

    .experience {
        .cards .card {
            h1 {
                font-size: 2rem!important;
            }
        }
    }

    main .projects .container .listing h2 {
        font-size: 1.75rem;
        height: 2.25rem;
    }
}